@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

html {
  width: 100%;
  height: 100%;
  font-size: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 70%;
  }
}

body {
  background-color:  #f4f4f4;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Rock Salt', Arial, sans-serif;
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 400;
  color: #000;
  margin: 0;
}

p {
  font-family: Arial, sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: #000;
  margin: 0;
}

input {
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  color: #000;
  margin: 0;
}

small {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #000;
  margin: 0;
}

main {
  height: 100vh;
  min-height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.check {
  position: absolute;
  z-index: 999;
  background: rgb(221 221 221 / 9%);
  color: #fff;
  width: fit-content;
  height: fit-content;
  max-width: 50ch;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 10px 10px 60px 0 rgb(0 0 0);
}

.check form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  gap: 10px;
}

.check form p,
.check form small {
  color: #fff;
}

.check form input {
  margin: 25px 0 10px;
}

.curtain {
  position: absolute;
  z-index: 99;
  top: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, #5700ae 0%, #280051 50%, #5700ae 100%);
  background-size: 150px 100%;
  transition: all 1000ms ease-in-out;
}

.racoon {
  position: fixed;
  bottom: 0;
  margin: auto;
  width: 100%;
  max-width: 100vh;
  height: auto;
  left: 50%;
  transform: translate(-50%, 0);
  display: none;
}

.card {
  background: radial-gradient(farthest-side at bottom left, rgb(213 42 213), #5700ae), radial-gradient(farthest-corner at bottom right,#0d001a, #5700ae 400px);
  width: 400px;
  height: 550px;
  margin: auto;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border-radius: 40px;
  box-shadow:rgb(0 0 0 / 60%) 0px 30px 60px 0px, rgb(0 0 0 / 50%) -0.5px -0.5px 0px 2px inset;
  transform: scale(0) rotate(45deg);
  transition: all .35s ease-in-out;
  position: relative;
}

.card::before {
  content: "";
  position: absolute;
  background: radial-gradient(circle at 130% -20%, #e78aff 5%, transparent 60%, #210042), radial-gradient(circle at -20% 140%,#c3bbff 5%, transparent 68%);
  width: 100%;
  height: 100%;
  border-radius: 40px;
  transition: all .35s ease-in-out;
  z-index: -1;
}

@media screen and (min-width: 1700px) {
  .card {
    width: 500px;
    height: 650px;
  }
}

@media screen and (max-width: 900px) {
  .card {
    width: 400px;
    height: 550px;
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: 300px;
    height: 450px;
  }
}

.card h1 {
  transform: rotate(-10deg);
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.obj video {
  display: none;
}

.curtain.active {
  transform: translateY(-100%);
}

.racoon.active {
  display: block;
}

.check.active {
  display: none;
}

.card.active {
  transform: scale(1) rotate(0);
}

.obj video.active {
  display: block;
  z-index: 9999;
}